
{% load static %}<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>{% block title %}Face Website{% endblock %}</title>
  <meta http-equiv="refresh" content="30">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
  <link href="{% static 'face_website/css/bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <style type="text/css">
    body { background: black !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
 </style>
  {% block css %}{% endblock %}
</head>
{% block content %}
<h1 style="color: whitesmoke;">Radha Golokananda Face Recognition</h1>
<div class="container bg-black  "></div>
{% load event_tag %}
  <div class="row mb-0  text-light bg-black">
  {% for day in past_week_of_days %}
    {% get_event day as event_day %}
      
      <div class="gy-1 col bg-secondary mb-0">
        {{ event_day }}
      </div>     
  {% endfor %}   
    <div class="mb-0 col gy-1 bg-secondary mb-0 gx-5 ">
      Indicates:
    </div>
  </div>
{% with "Mangal,Darshan,Noon,Four O'clock,Evening" as arotiks %}
  {% for aroti in arotiks|split %}
    <div class="row" >
        <div class="text-center text-muted bg-dark gy-1 bg-secondary">
          <h6>{{ aroti }}</h6>
        </div>
    </div>       
    <div class="row bg-black">
      {% for day in past_week_of_days %} 
        {% get_event day as event_day %}
          {% check_if_event_ontime day aroti as ontime %}
          
            <div class="col text-light  gy-1  bg-dark">
               {% if ontime %}
                 <i class="bi-check2-circle" style="font-size: larger; color:forestgreen;"></i>
               {% else %}
                 <i class="bi-x" style="font-size:xx-large;   color: red;"></i>
               {% endif %}
            </div>       
        
      {% endfor %}
      <div class="col gy-1 text-muted bg-dark ">
        On-time Status
      </div>  
    </div>  
    <div class="row ">      
      {% for day in past_week_of_days %}
        {% get_event day as event_day %}            
          {% get_minlate day aroti as minlate %} 
            <div class="col text-light bg-dark ">
              {{ minlate }}      
            </div>        
        
      {% endfor %}
    
        <div class="col text-muted bg-dark">
            Minutes Late
        </div>    
    </div>   
     
  {% endfor %}
{% endwith %}

<div class='row'>
    <div class="mb-3 text-center col-sm-12">
         <h4 class="d-inline mr-2 text-light">All Events</h4>
         <a class="bi-chevron-up" style="font-size: large; color: wheat;"  data-bs-toggle="collapse" href="#eventsTable" role="button" aria-expanded="false" aria-controls="eventsTable"></a>
         
    </div>
    <div class="my-1 text-center">
        <span class="text-muted">
            Auto refresh: On
        </span>
    </div>
    
        <div class="row">
            <div id="eventsTable" class="col-sm-12">
                <div class="table-responsive">
                    <table class='table table-dark'>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Date/Time</th>
                                <th>Arotik</th>
                                <th>Face(s) Detected</th>
                                <th>More</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in all_events reversed %}
                               <tr>
                                   <td>{{event.pk}}</td>
                                   <td>{{ event.date }}</td>
                                   <td>{{ event.arotik }}</td> 
                                   <td>{{ event.face }}</td>
                                   <td>
                                       <span class="bi-arrow-up-right mouse">
                                          
                                       </span>
                                   </td>
                               </tr>
                                                               
                            {% endfor %}                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
</div>
{{ csrf_token }}

{% endblock %} 
<script type="text/javascript" src="{% static 'face_website/js/bootstrap.bundle.js' %}"></script>
{% block js %}{% endblock %}
